In [7]:
import os
print(os.getcwd())
import sys
import os
import re
import compare_csv
current_dir = os.path.dirname(os.path.abspath("/d/GithubRepos/PIMCO-Text2SQL"))
din_modules_path = os.path.join(current_dir, 'chatgpt_api')
sys.path.append(din_modules_path)

d:\GithubRepos\PIMCO-Text2SQL

In [8]:
text = """
1. "List the top 5 registrants by total net assets, including their CIK and country."
   SQL: 
   WITH FundAssets AS (
       SELECT R.CIK, R.REGISTRANT_NAME, R.COUNTRY, F.NET_ASSETS
       FROM REGISTRANT R
       JOIN FUND_REPORTED_INFO F ON R.ACCESSION_NUMBER = F.ACCESSION_NUMBER
   )
   SELECT CIK, REGISTRANT_NAME, COUNTRY, NET_ASSETS
   FROM FundAssets
   ORDER BY NET_ASSETS DESC
   LIMIT 5;

2. "Find all holdings with a fair value level of Level 1 and their corresponding fund names."
   SQL: 
   WITH HoldingsCTE AS (
       SELECT H.HOLDING_ID, H.ISSUER_NAME, H.FAIR_VALUE_LEVEL, F.SERIES_NAME
       FROM FUND_REPORTED_HOLDING H
       JOIN FUND_REPORTED_INFO F ON H.ACCESSION_NUMBER = F.ACCESSION_NUMBER
       WHERE H.FAIR_VALUE_LEVEL = 'Level 1'
   )
   SELECT HOLDING_ID, ISSUER_NAME, SERIES_NAME
   FROM HoldingsCTE;

3. "Calculate the total collateral amount for repurchase agreements grouped by counterparty."
   SQL: 
   WITH CollateralCTE AS (
    SELECT RCP.NAME AS Counterparty_Name, SUM(RC.COLLATERAL_AMOUNT) AS Total_Collateral
    FROM REPURCHASE_COLLATERAL RC
    JOIN REPURCHASE_COUNTERPARTY RCP ON RC.HOLDING_ID = RCP.HOLDING_ID
    GROUP BY RCP.NAME
   )
   SELECT Counterparty_Name, Total_Collateral
   FROM CollateralCTE
   ORDER BY Total_Collateral DESC;

4. "Locate funds that have both securities lending activities and repurchase agreements."
   SQL: 
   WITH SecuritiesLending AS (
       SELECT ACCESSION_NUMBER
       FROM SECURITIES_LENDING
       WHERE IS_LOAN_BY_FUND = 'Y'
   ),
   RepurchaseAgreements AS (
       SELECT ACCESSION_NUMBER
       FROM REPURCHASE_AGREEMENT
   )
   SELECT F.SERIES_NAME
   FROM FUND_REPORTED_INFO F
   WHERE F.ACCESSION_NUMBER IN (SELECT ACCESSION_NUMBER FROM SecuritiesLending)
     AND F.ACCESSION_NUMBER IN (SELECT ACCESSION_NUMBER FROM RepurchaseAgreements);

5. "Find borrowers who have borrowed more than $5,000,000, including their names and LEIs."
   SQL: 
   WITH BorrowedAmounts AS (
       SELECT BORROWER_ID, SUM(AGGREGATE_VALUE) AS Total_Borrowed
       FROM BORROWER
       GROUP BY BORROWER_ID
       HAVING SUM(AGGREGATE_VALUE) > 5000000
   )
   SELECT B.NAME, B.LEI, BA.Total_Borrowed
   FROM BORROWER B
   JOIN BorrowedAmounts BA ON B.BORROWER_ID = BA.BORROWER_ID;

6. "List all derivative counterparties along with the number of derivative instruments they are involved in."
   SQL: 
   WITH CounterpartyCounts AS (
       SELECT DC.DERIVATIVE_COUNTERPARTY_NAME, COUNT(*) AS Instrument_Count
       FROM DERIVATIVE_COUNTERPARTY DC
       JOIN FUND_REPORTED_HOLDING H ON DC.HOLDING_ID = H.HOLDING_ID
       JOIN DEBT_SECURITY D ON H.HOLDING_ID = D.HOLDING_ID
       GROUP BY DC.DERIVATIVE_COUNTERPARTY_NAME
   )
   SELECT DERIVATIVE_COUNTERPARTY_NAME, Instrument_Count
   FROM CounterpartyCounts
   ORDER BY Instrument_Count DESC;

7. "Compute the average annualized rate for debt securities grouped by coupon type."
   SQL: 
   WITH RateAverages AS (
       SELECT DS.COUPON_TYPE, AVG(DS.ANNUALIZED_RATE) AS Avg_Annualized_Rate
       FROM DEBT_SECURITY DS
       WHERE DS.ANNUALIZED_RATE IS NOT NULL
       GROUP BY DS.COUPON_TYPE
   )
   SELECT COUPON_TYPE, Avg_Annualized_Rate
   FROM RateAverages
   ORDER BY Avg_Annualized_Rate DESC;

8. "Get funds that have experienced a net decrease in assets over the last three reporting periods."
   SQL: 
   WITH AssetChanges AS (
       SELECT F.ACCESSION_NUMBER, F.SERIES_NAME, S.REPORT_DATE, F.NET_ASSETS,
              LAG(F.NET_ASSETS, 1) OVER (PARTITION BY F.SERIES_NAME ORDER BY S.REPORT_DATE) AS Previous_Period_Assets
       FROM FUND_REPORTED_INFO F
       JOIN SUBMISSION S ON F.ACCESSION_NUMBER = S.ACCESSION_NUMBER
   )
   SELECT DISTINCT AC.SERIES_NAME
   FROM AssetChanges AC
   WHERE AC.NET_ASSETS < AC.Previous_Period_Assets
     AND AC.Previous_Period_Assets IS NOT NULL;

9. "Identify issuers with more than three different securities holdings, including their names and CUSIPs."
   SQL: 
   WITH IssuerHoldings AS (
       SELECT H.ISSUER_NAME, H.ISSUER_CUSIP, COUNT(DISTINCT H.HOLDING_ID) AS Holding_Count
       FROM FUND_REPORTED_HOLDING H
       GROUP BY H.ISSUER_NAME, H.ISSUER_CUSIP
       HAVING COUNT(DISTINCT H.HOLDING_ID) > 3
   )
   SELECT ISSUER_NAME, ISSUER_CUSIP, Holding_Count
   FROM IssuerHoldings
   ORDER BY Holding_Count DESC;

10. "Calculate the total notional amount of derivatives per currency and identify the top 3 currencies by notional amount."
    SQL: 
    WITH NotionalSums AS (
        SELECT ODNA.CURRENCY_CODE, SUM(ODNA.NOTIONAL_AMOUNT) AS Total_Notional
        FROM OTHER_DERIV_NOTIONAL_AMOUNT ODNA
        GROUP BY ODNA.CURRENCY_CODE
    )
    SELECT CURRENCY_CODE, Total_Notional
    FROM NotionalSums
    ORDER BY Total_Notional DESC
    LIMIT 3;

11. "List funds with liquidation preferences exceeding their net assets."
    SQL: 
    WITH FundPreferences AS (
        SELECT F.SERIES_NAME, F.LIQUIDATION_PREFERENCE, F.NET_ASSETS
        FROM FUND_REPORTED_INFO F
    )
    SELECT SERIES_NAME, LIQUIDATION_PREFERENCE, NET_ASSETS
    FROM FundPreferences
    WHERE LIQUIDATION_PREFERENCE > NET_ASSETS;

12. "Find all convertible securities that are contingent and have a conversion ratio above 1.5."
    SQL: 
    WITH ConvertibleCTE AS (
        SELECT DS.HOLDING_ID, CSC.CONVERSION_RATIO
        FROM DEBT_SECURITY DS
        JOIN CONVERTIBLE_SECURITY_CURRENCY CSC ON DS.HOLDING_ID = CSC.HOLDING_ID
        WHERE DS.IS_CONVTIBLE_CONTINGENT = 'Y' AND CSC.CONVERSION_RATIO > 1.5
    )
    SELECT HOLDING_ID, CONVERSION_RATIO
    FROM ConvertibleCTE;

13. "Analyze the distribution of asset categories within the top 10 largest funds by total assets."
    SQL: 
    WITH TopFunds AS (
        SELECT SERIES_NAME, ACCESSION_NUMBER
        FROM FUND_REPORTED_INFO
        ORDER BY TOTAL_ASSETS DESC
        LIMIT 10
    ),
    AssetDistribution AS (
        SELECT H.ASSET_CAT, COUNT(*) AS Category_Count
        FROM FUND_REPORTED_HOLDING H
        JOIN TopFunds T ON H.ACCESSION_NUMBER = T.ACCESSION_NUMBER
        GROUP BY H.ASSET_CAT
    )
    SELECT ASSET_CAT, Category_Count
    FROM AssetDistribution
    ORDER BY Category_Count DESC;
    
14. "Find the top 10 funds with the highest average monthly returns in the past quarter."
   SQL: 
   WITH AvgMonthlyReturn AS (
       SELECT ACCESSION_NUMBER, 
              (MONTHLY_TOTAL_RETURN1 + MONTHLY_TOTAL_RETURN2 + MONTHLY_TOTAL_RETURN3) / 3.0 AS Avg_Return
       FROM MONTHLY_TOTAL_RETURN
   )
   SELECT F.SERIES_NAME, A.ACCESSION_NUMBER, A.Avg_Return
   FROM AvgMonthlyReturn A
   JOIN FUND_REPORTED_INFO F ON A.ACCESSION_NUMBER = F.ACCESSION_NUMBER
   ORDER BY A.Avg_Return DESC
   LIMIT 10;

15. "Compare the latest net asset values of the top 5 performing funds."
    SQL: 
    WITH TopPerformingFunds AS (
        SELECT 
            ACCESSION_NUMBER, 
            (MONTHLY_TOTAL_RETURN1 + MONTHLY_TOTAL_RETURN2 + MONTHLY_TOTAL_RETURN3) / 3.0 AS Avg_Return
        FROM 
            MONTHLY_TOTAL_RETURN
        ORDER BY 
            Avg_Return DESC
        LIMIT 5
    )
    SELECT 
        FR.SERIES_NAME, 
        FR.NET_ASSETS, 
        TP.Avg_Return
    FROM 
        TopPerformingFunds TP
    JOIN 
        FUND_REPORTED_INFO FR ON TP.ACCESSION_NUMBER = FR.ACCESSION_NUMBER;

16. "Calculate the overall average return across all funds for the most recent month."
    SQL: 
    WITH LatestReturns AS (
        SELECT 
            M.ACCESSION_NUMBER, 
            M.MONTHLY_TOTAL_RETURN1
        FROM 
            MONTHLY_TOTAL_RETURN M
        JOIN 
            SUBMISSION S ON M.ACCESSION_NUMBER = S.ACCESSION_NUMBER
        WHERE 
            S.REPORT_DATE = (SELECT MAX(REPORT_DATE) FROM SUBMISSION)
    )
    SELECT 
        AVG(MONTHLY_TOTAL_RETURN1) AS Average_Return
    FROM 
        LatestReturns;

17. "Find the interest rate risk for each fund and identify those with the highest risk scores."
    SQL: 
    WITH InterestRiskScores AS (
        SELECT 
            IR.ACCESSION_NUMBER, 
            -- Calculating composite risk score by summing absolute values of DV01 and DV100 columns
            (ABS(CAST(IR.INTRST_RATE_CHANGE_3MON_DV01 AS FLOAT)) +
            ABS(CAST(IR.INTRST_RATE_CHANGE_1YR_DV01 AS FLOAT)) +
            ABS(CAST(IR.INTRST_RATE_CHANGE_5YR_DV01 AS FLOAT)) +
            ABS(CAST(IR.INTRST_RATE_CHANGE_10YR_DV01 AS FLOAT)) +
            ABS(CAST(IR.INTRST_RATE_CHANGE_30YR_DV01 AS FLOAT)) +
            ABS(CAST(IR.INTRST_RATE_CHANGE_3MON_DV100 AS FLOAT)) +
            ABS(CAST(IR.INTRST_RATE_CHANGE_1YR_DV100 AS FLOAT)) +
            ABS(CAST(IR.INTRST_RATE_CHANGE_5YR_DV100 AS FLOAT)) +
            ABS(CAST(IR.INTRST_RATE_CHANGE_10YR_DV100 AS FLOAT)) +
            ABS(CAST(IR.INTRST_RATE_CHANGE_30YR_DV100 AS FLOAT))
            ) AS Composite_Risk_Score
        FROM 
            INTEREST_RATE_RISK IR
    )
    SELECT 
        FR.SERIES_NAME, 
        FR.ACCESSION_NUMBER, 
        IRS.Composite_Risk_Score
    FROM 
        InterestRiskScores IRS
    JOIN 
        FUND_REPORTED_INFO FR ON IRS.ACCESSION_NUMBER = FR.ACCESSION_NUMBER
    ORDER BY 
        IRS.Composite_Risk_Score DESC
    LIMIT 5;

18. "Analyze the composition of fund portfolios by categorizing assets and their total values."
    SQL: 
    WITH PortfolioComposition AS (
    SELECT 
        ACCESSION_NUMBER, 
        ASSET_CAT, 
        SUM(CAST(CURRENCY_VALUE AS FLOAT)) AS Total_Value
    FROM 
        FUND_REPORTED_HOLDING
    GROUP BY 
        ACCESSION_NUMBER, 
        ASSET_CAT
    )
    SELECT 
        F.SERIES_NAME, 
        PC.ASSET_CAT, 
        PC.Total_Value
    FROM 
        PortfolioComposition PC
    JOIN 
        FUND_REPORTED_INFO F ON PC.ACCESSION_NUMBER = F.ACCESSION_NUMBER
    ORDER BY 
        F.SERIES_NAME, 
        PC.Total_Value DESC;

19. "Identify the most common asset categories across all fund portfolios."
    SQL: 
    WITH AssetCounts AS (
        SELECT ASSET_CAT, COUNT(*) AS Count
        FROM FUND_REPORTED_HOLDING
        GROUP BY ASSET_CAT
    )
    SELECT ASSET_CAT, Count
    FROM AssetCounts
    ORDER BY Count DESC
    LIMIT 5;

20. "Retrieve funds that have experienced a net decrease in assets over the last three reporting periods."
   SQL: 
   WITH AssetChanges AS (
       SELECT F.ACCESSION_NUMBER, F.SERIES_NAME, S.REPORT_DATE, F.NET_ASSETS,
              LAG(F.NET_ASSETS, 1) OVER (PARTITION BY F.SERIES_NAME ORDER BY S.REPORT_DATE) AS Previous_Period_Assets
       FROM FUND_REPORTED_Iimport os
print(os.getcwd())NFO F
       JOIN SUBMISSION S ON F.ACCESSION_NUMBER = S.ACCESSION_NUMBER
   )
   SELECT DISTINCT AC.SERIES_NAME
   FROM AssetChanges AC
   WHERE AC.NET_ASSETS < AC.Previous_Period_Assets
     AND AC.Previous_Period_Assets IS NOT NULL;"""

In [9]:
pattern = r'"\s*(.*?)\s*"\s*SQL:\s*(WITH.*?;)(?=\n\s*\d+|$)'
matches = re.findall(pattern, text, re.DOTALL)

In [10]:
ground_truth_query = [match[1] for match in matches]
llm_query = [match[0] for match in matches]
print("Queries:", ground_truth_query)
print("SQL Statements:", llm_query)

Queries: ['WITH FundAssets AS (\n       SELECT R.CIK, R.REGISTRANT_NAME, R.COUNTRY, F.NET_ASSETS\n       FROM REGISTRANT R\n       JOIN FUND_REPORTED_INFO F ON R.ACCESSION_NUMBER = F.ACCESSION_NUMBER\n   )\n   SELECT CIK, REGISTRANT_NAME, COUNTRY, NET_ASSETS\n   FROM FundAssets\n   ORDER BY NET_ASSETS DESC\n   LIMIT 5;', "WITH HoldingsCTE AS (\n       SELECT H.HOLDING_ID, H.ISSUER_NAME, H.FAIR_VALUE_LEVEL, F.SERIES_NAME\n       FROM FUND_REPORTED_HOLDING H\n       JOIN FUND_REPORTED_INFO F ON H.ACCESSION_NUMBER = F.ACCESSION_NUMBER\n       WHERE H.FAIR_VALUE_LEVEL = 'Level 1'\n   )\n   SELECT HOLDING_ID, ISSUER_NAME, SERIES_NAME\n   FROM HoldingsCTE;", 'WITH CollateralCTE AS (\n    SELECT RCP.NAME AS Counterparty_Name, SUM(RC.COLLATERAL_AMOUNT) AS Total_Collateral\n    FROM REPURCHASE_COLLATERAL RC\n    JOIN REPURCHASE_COUNTERPARTY RCP ON RC.HOLDING_ID = RCP.HOLDING_ID\n    GROUP BY RCP.NAME\n   )\n   SELECT Counterparty_Name, Total_Collateral\n   FROM CollateralCTE\n   ORDER BY Total_Collateral DESC;', "WITH SecuritiesLending AS (\n       SELECT ACCESSION_NUMBER\n       FROM SECURITIES_LENDING\n       WHERE IS_LOAN_BY_FUND = 'Y'\n   ),\n   RepurchaseAgreements AS (\n       SELECT ACCESSION_NUMBER\n       FROM REPURCHASE_AGREEMENT\n   )\n   SELECT F.SERIES_NAME\n   FROM FUND_REPORTED_INFO F\n   WHERE F.ACCESSION_NUMBER IN (SELECT ACCESSION_NUMBER FROM SecuritiesLending)\n     AND F.ACCESSION_NUMBER IN (SELECT ACCESSION_NUMBER FROM RepurchaseAgreements);", 'WITH BorrowedAmounts AS (\n       SELECT BORROWER_ID, SUM(AGGREGATE_VALUE) AS Total_Borrowed\n       FROM BORROWER\n       GROUP BY BORROWER_ID\n       HAVING SUM(AGGREGATE_VALUE) > 5000000\n   )\n   SELECT B.NAME, B.LEI, BA.Total_Borrowed\n   FROM BORROWER B\n   JOIN BorrowedAmounts BA ON B.BORROWER_ID = BA.BORROWER_ID;', 'WITH CounterpartyCounts AS (\n       SELECT DC.DERIVATIVE_COUNTERPARTY_NAME, COUNT(*) AS Instrument_Count\n       FROM DERIVATIVE_COUNTERPARTY DC\n       JOIN FUND_REPORTED_HOLDING H ON DC.HOLDING_ID = H.HOLDING_ID\n       JOIN DEBT_SECURITY D ON H.HOLDING_ID = D.HOLDING_ID\n       GROUP BY DC.DERIVATIVE_COUNTERPARTY_NAME\n   )\n   SELECT DERIVATIVE_COUNTERPARTY_NAME, Instrument_Count\n   FROM CounterpartyCounts\n   ORDER BY Instrument_Count DESC;', 'WITH RateAverages AS (\n       SELECT DS.COUPON_TYPE, AVG(DS.ANNUALIZED_RATE) AS Avg_Annualized_Rate\n       FROM DEBT_SECURITY DS\n       WHERE DS.ANNUALIZED_RATE IS NOT NULL\n       GROUP BY DS.COUPON_TYPE\n   )\n   SELECT COUPON_TYPE, Avg_Annualized_Rate\n   FROM RateAverages\n   ORDER BY Avg_Annualized_Rate DESC;', 'WITH AssetChanges AS (\n       SELECT F.ACCESSION_NUMBER, F.SERIES_NAME, S.REPORT_DATE, F.NET_ASSETS,\n              LAG(F.NET_ASSETS, 1) OVER (PARTITION BY F.SERIES_NAME ORDER BY S.REPORT_DATE) AS Previous_Period_Assets\n       FROM FUND_REPORTED_INFO F\n       JOIN SUBMISSION S ON F.ACCESSION_NUMBER = S.ACCESSION_NUMBER\n   )\n   SELECT DISTINCT AC.SERIES_NAME\n   FROM AssetChanges AC\n   WHERE AC.NET_ASSETS < AC.Previous_Period_Assets\n     AND AC.Previous_Period_Assets IS NOT NULL;', 'WITH IssuerHoldings AS (\n       SELECT H.ISSUER_NAME, H.ISSUER_CUSIP, COUNT(DISTINCT H.HOLDING_ID) AS Holding_Count\n       FROM FUND_REPORTED_HOLDING H\n       GROUP BY H.ISSUER_NAME, H.ISSUER_CUSIP\n       HAVING COUNT(DISTINCT H.HOLDING_ID) > 3\n   )\n   SELECT ISSUER_NAME, ISSUER_CUSIP, Holding_Count\n   FROM IssuerHoldings\n   ORDER BY Holding_Count DESC;', 'WITH NotionalSums AS (\n        SELECT ODNA.CURRENCY_CODE, SUM(ODNA.NOTIONAL_AMOUNT) AS Total_Notional\n        FROM OTHER_DERIV_NOTIONAL_AMOUNT ODNA\n        GROUP BY ODNA.CURRENCY_CODE\n    )\n    SELECT CURRENCY_CODE, Total_Notional\n    FROM NotionalSums\n    ORDER BY Total_Notional DESC\n    LIMIT 3;', 'WITH FundPreferences AS (\n        SELECT F.SERIES_NAME, F.LIQUIDATION_PREFERENCE, F.NET_ASSETS\n        FROM FUND_REPORTED_INFO F\n    )\n    SELECT SERIES_NAME, LIQUIDATION_PREFERENCE, NET_ASSETS\n    FROM FundPreferences\n    WHERE LIQUIDATION_PREFERENCE > NET_ASSETS;', "WITH ConvertibleCTE AS (\n        SELECT DS.HOLDING_ID, CSC.CONVERSION_RATIO\n        FROM DEBT_SECURITY DS\n        JOIN CONVERTIBLE_SECURITY_CURRENCY CSC ON DS.HOLDING_ID = CSC.HOLDING_ID\n        WHERE DS.IS_CONVTIBLE_CONTINGENT = 'Y' AND CSC.CONVERSION_RATIO > 1.5\n    )\n    SELECT HOLDING_ID, CONVERSION_RATIO\n    FROM ConvertibleCTE;", 'WITH TopFunds AS (\n        SELECT SERIES_NAME, ACCESSION_NUMBER\n        FROM FUND_REPORTED_INFO\n        ORDER BY TOTAL_ASSETS DESC\n        LIMIT 10\n    ),\n    AssetDistribution AS (\n        SELECT H.ASSET_CAT, COUNT(*) AS Category_Count\n        FROM FUND_REPORTED_HOLDING H\n        JOIN TopFunds T ON H.ACCESSION_NUMBER = T.ACCESSION_NUMBER\n        GROUP BY H.ASSET_CAT\n    )\n    SELECT ASSET_CAT, Category_Count\n    FROM AssetDistribution\n    ORDER BY Category_Count DESC;', 'WITH AvgMonthlyReturn AS (\n       SELECT ACCESSION_NUMBER, \n              (MONTHLY_TOTAL_RETURN1 + MONTHLY_TOTAL_RETURN2 + MONTHLY_TOTAL_RETURN3) / 3.0 AS Avg_Return\n       FROM MONTHLY_TOTAL_RETURN\n   )\n   SELECT F.SERIES_NAME, A.ACCESSION_NUMBER, A.Avg_Return\n   FROM AvgMonthlyReturn A\n   JOIN FUND_REPORTED_INFO F ON A.ACCESSION_NUMBER = F.ACCESSION_NUMBER\n   ORDER BY A.Avg_Return DESC\n   LIMIT 10;', 'WITH TopPerformingFunds AS (\n        SELECT \n            ACCESSION_NUMBER, \n            (MONTHLY_TOTAL_RETURN1 + MONTHLY_TOTAL_RETURN2 + MONTHLY_TOTAL_RETURN3) / 3.0 AS Avg_Return\n        FROM \n            MONTHLY_TOTAL_RETURN\n        ORDER BY \n            Avg_Return DESC\n        LIMIT 5\n    )\n    SELECT \n        FR.SERIES_NAME, \n        FR.NET_ASSETS, \n        TP.Avg_Return\n    FROM \n        TopPerformingFunds TP\n    JOIN \n        FUND_REPORTED_INFO FR ON TP.ACCESSION_NUMBER = FR.ACCESSION_NUMBER;', 'WITH LatestReturns AS (\n        SELECT \n            M.ACCESSION_NUMBER, \n            M.MONTHLY_TOTAL_RETURN1\n        FROM \n            MONTHLY_TOTAL_RETURN M\n        JOIN \n            SUBMISSION S ON M.ACCESSION_NUMBER = S.ACCESSION_NUMBER\n        WHERE \n            S.REPORT_DATE = (SELECT MAX(REPORT_DATE) FROM SUBMISSION)\n    )\n    SELECT \n        AVG(MONTHLY_TOTAL_RETURN1) AS Average_Return\n    FROM \n        LatestReturns;', 'WITH InterestRiskScores AS (\n        SELECT \n            IR.ACCESSION_NUMBER, \n            -- Calculating composite risk score by summing absolute values of DV01 and DV100 columns\n            (ABS(CAST(IR.INTRST_RATE_CHANGE_3MON_DV01 AS FLOAT)) +\n            ABS(CAST(IR.INTRST_RATE_CHANGE_1YR_DV01 AS FLOAT)) +\n            ABS(CAST(IR.INTRST_RATE_CHANGE_5YR_DV01 AS FLOAT)) +\n            ABS(CAST(IR.INTRST_RATE_CHANGE_10YR_DV01 AS FLOAT)) +\n            ABS(CAST(IR.INTRST_RATE_CHANGE_30YR_DV01 AS FLOAT)) +\n            ABS(CAST(IR.INTRST_RATE_CHANGE_3MON_DV100 AS FLOAT)) +\n            ABS(CAST(IR.INTRST_RATE_CHANGE_1YR_DV100 AS FLOAT)) +\n            ABS(CAST(IR.INTRST_RATE_CHANGE_5YR_DV100 AS FLOAT)) +\n            ABS(CAST(IR.INTRST_RATE_CHANGE_10YR_DV100 AS FLOAT)) +\n            ABS(CAST(IR.INTRST_RATE_CHANGE_30YR_DV100 AS FLOAT))\n            ) AS Composite_Risk_Score\n        FROM \n            INTEREST_RATE_RISK IR\n    )\n    SELECT \n        FR.SERIES_NAME, \n        FR.ACCESSION_NUMBER, \n        IRS.Composite_Risk_Score\n    FROM \n        InterestRiskScores IRS\n    JOIN \n        FUND_REPORTED_INFO FR ON IRS.ACCESSION_NUMBER = FR.ACCESSION_NUMBER\n    ORDER BY \n        IRS.Composite_Risk_Score DESC\n    LIMIT 5;', 'WITH PortfolioComposition AS (\n    SELECT \n        ACCESSION_NUMBER, \n        ASSET_CAT, \n        SUM(CAST(CURRENCY_VALUE AS FLOAT)) AS Total_Value\n    FROM \n        FUND_REPORTED_HOLDING\n    GROUP BY \n        ACCESSION_NUMBER, \n        ASSET_CAT\n    )\n    SELECT \n        F.SERIES_NAME, \n        PC.ASSET_CAT, \n        PC.Total_Value\n    FROM \n        PortfolioComposition PC\n    JOIN \n        FUND_REPORTED_INFO F ON PC.ACCESSION_NUMBER = F.ACCESSION_NUMBER\n    ORDER BY \n        F.SERIES_NAME, \n        PC.Total_Value DESC;', 'WITH AssetCounts AS (\n        SELECT ASSET_CAT, COUNT(*) AS Count\n        FROM FUND_REPORTED_HOLDING\n        GROUP BY ASSET_CAT\n    )\n    SELECT ASSET_CAT, Count\n    FROM AssetCounts\n    ORDER BY Count DESC\n    LIMIT 5;', 'WITH AssetChanges AS (\n       SELECT F.ACCESSION_NUMBER, F.SERIES_NAME, S.REPORT_DATE, F.NET_ASSETS,\n              LAG(F.NET_ASSETS, 1) OVER (PARTITION BY F.SERIES_NAME ORDER BY S.REPORT_DATE) AS Previous_Period_Assets\n       FROM FUND_REPORTED_Iimport os\nprint(os.getcwd())NFO F\n       JOIN SUBMISSION S ON F.ACCESSION_NUMBER = S.ACCESSION_NUMBER\n   )\n   SELECT DISTINCT AC.SERIES_NAME\n   FROM AssetChanges AC\n   WHERE AC.NET_ASSETS < AC.Previous_Period_Assets\n     AND AC.Previous_Period_Assets IS NOT NULL;']
SQL Statements: ['List the top 5 registrants by total net assets, including their CIK and country.', 'Find all holdings with a fair value level of Level 1 and their corresponding fund names.', 'Calculate the total collateral amount for repurchase agreements grouped by counterparty.', 'Locate funds that have both securities lending activities and repurchase agreements.', 'Find borrowers who have borrowed more than $5,000,000, including their names and LEIs.', 'List all derivative counterparties along with the number of derivative instruments they are involved in.', 'Compute the average annualized rate for debt securities grouped by coupon type.', 'Get funds that have experienced a net decrease in assets over the last three reporting periods.', 'Identify issuers with more than three different securities holdings, including their names and CUSIPs.', 'Calculate the total notional amount of derivatives per currency and identify the top 3 currencies by notional amount.', 'List funds with liquidation preferences exceeding their net assets.', 'Find all convertible securities that are contingent and have a conversion ratio above 1.5.', 'Analyze the distribution of asset categories within the top 10 largest funds by total assets.', 'Find the top 10 funds with the highest average monthly returns in the past quarter.', 'Compare the latest net asset values of the top 5 performing funds.', 'Calculate the overall average return across all funds for the most recent month.', 'Find the interest rate risk for each fund and identify those with the highest risk scores.', 'Analyze the composition of fund portfolios by categorizing assets and their total values.', 'Identify the most common asset categories across all fund portfolios.', 'Retrieve funds that have experienced a net decrease in assets over the last three reporting periods.']

In [11]:
results = []
while len(results) < 20:
    results.append(None)
print(len(results))
print(len(llm_query))

print("Are the following queries the same?")
i=0
print("i = ", i)

20
20
Are the following queries the same?
i =  0

In [12]:
if i<len(llm_query):
    results[i]=(str(i)+'. '+ str(compare_csv.compare_csv_din(ground_truth_query[i],llm_query[i])))
i+=1 #1
print("i = ", i)

INFO:compare_csv:Executing LLM query
DEBUG:urllib3.connectionpool:Starting new HTTP connection (1): localhost:8000
DEBUG:urllib3.connectionpool:http://localhost:8000 "POST /din-query HTTP/11" 500 21
ERROR:compare_csv:Unexpected error in process_query: 500 Server Error: Internal Server Error for url: http://localhost:8000/din-query

HTTPException: 500: Unexpected error: 500 Server Error: Internal Server Error for url: http://localhost:8000/din-query